{% extends 'base.html' %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Timetable</title>
</head>
<body>
{% block container %}
<table style="column-width: auto">
    <thead>
    <tr>
        <th scope="col"></th>
        <th scope="col">Понедельник</th>
        <th scope="col">Вторник</th>
        <th scope="col">Среда</th>
        <th scope="col">Четверг</th>
        <th scope="col">Пятница</th>
        <th scope="col">Суббота</th>
    </tr>
    </thead>
    <tbody>
    { % for item in data % }
        <td>{{ item.course }}</td>
        <td>{{ item.weekday }}</td>
        <td>{{ item.start_time }}</td>
    { % endfor % }
    </tbody>
</table>
{% endblock %}
</body>
</html>